









doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Centered Images with Blue Background
    link(rel="stylesheet", href="styles.css")
  body
    .container
      .image-box
        a(href="Screenshot_20240914-233048_My Files.jpg", target="_blank")
          img(src="Screenshot_20240914-233048_My Files.jpg", alt="Image 1", class="center-image")
      .image-box
        a(href="Screenshot_20240916-152233_Chrome.jpg", target="_blank")
          img(src="Screenshot_20240916-152233_Chrome.jpg", alt="Image 2", class="center-image")
