







* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url('Picsart_24-09-26_15-03-59-962.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

.container {
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-box {
    width: 360px;
    height: 220px;
    background-color: violet;
    margin-top: 300px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between; /* Space between images */
    align-items: flex-start;
    padding: 0px; /* Left and right margin for the box */
}

.image {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-top: 300px; 
}

.image:not(:last-child) {
    margin-right: 30px; /* Space between images */
}
