$background-image: url('202409091180908344023241086.jpg'); // Background image path
$image-width: 150px; // Width of the images

body {
    
    background-image: $background-image;
    background-size: cover; // Ensures the background covers the whole area
    display: block;
    justify-content: flex-end; // Aligns the container to the right
    height: 2770px; 
width:100vh;  
    height:100%;
    width:100%;
    .image-container {
        display: flex; // Align images in a row

        .image-container img {
    width: 20px; /* Set the width of the images */
 height:   20px; /* set the  height of the images*/
 margin-top: 60px; /* Margin above this paragraph */
margin:50px; /* set the  margin between background */
    margin-bottom: 20px; /* Margin below this paragraph */
    margin-left: 50px; /* set the  margin between images */
    margin-left: 51px; /* set the  margin between images */
    margin-right:80px;
margin:50px;
