$background-image: url('202409091180908344023241086.jpg'); // Background image path
$image-width: 150px; // Width of the images

body {
    
    background-image: $background-image;
    background-size: cover; // Ensures the background covers the whole area
    display: block;
    justify-content: flex-end; // Aligns the container to the right
    height: 14070px; 
width:720px;  
    .image-container {
        display: flex; // Align images in a row

        .image-container img {
    width: 200px; /* Set the width of the images */
 height:   200px; /* set the  height of the images*/
 margin-top: 600px; /* Margin above this paragraph */
margin:500px; /* set the  margin between background */
    margin-bottom: 600px; /* Margin below this paragraph */
    margin-left: 500px; /* set the  margin between images */
    margin-left: 510px; /* set the  margin between images */
    background-colour:orange ;
