$background-image: url('202409091180908344023241086.jpg'); // Background image path
$image-width: 150px; // Width of the images

body {
    
    background-image: $background-image;
    background-size: cover; // Ensures the background covers the whole area
    display: block;
    justify-content: flex-end; // Aligns the container to the right
    height: 140700px; 
width:72000px;  
    .image-container {
        display: flex; // Align images in a row

        
